# Copyright 2023 Prevas A/S
# SPDX-License-Identifier: Apache-2.0

config RTC_STM32
	bool "STM32 RTC driver"
	default y if !COUNTER
	depends on !SOC_SERIES_STM32F1X
	select USE_STM32_LL_RTC
	select USE_STM32_LL_PWR
	select USE_STM32_LL_RCC
	help
	  Build RTC driver for STM32 SoCs, excluding STM32F1 series.

choice RTC_STM32_CLOCK_SRC
	bool "RTC clock source"
	depends on RTC_STM32

config RTC_STM32_CLOCK_LSI
	bool "LSI"
	help
	  Use LSI as RTC clock

config RTC_STM32_CLOCK_LSE
	bool "LSE"
	help
	  Use LSE as RTC clock

endchoice #RTC_STM32_CLOCK_SRC
