# Copyright (c) 2021 G-Technologies Sdn. Bhd.
# SPDX-License-Identifier: Apache-2.0

config BGT3001
	bool "sensor"
	depends on UART_INTERRUPT_DRIVEN
	help
	  Enable driver for the BGT3001 Soil Sensor.

if BGT3001

config BGT3001_KEEP_MCU_AWAKE
	bool "Keep MCU awake while polling"
	depends on PM
	help
	  Keep MCU awake while polling for data. This is required for uart driver
	  that doesn't support wake up from stop mode.

endif # BGT3001
