/*
 * Copyright (c) 2018-2019 Peter Bigot Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 { /* SDA H16=PC10, SCL H15=PC11, ALERT H13=PF6 */
	htu31d@40{
		compatible = "te,htu31d";
		reg = <0x40>;
		label = "HTU31D";
		alert-gpios = <&gpiof 6 GPIO_ACTIVE_HIGH>;
	};
};
