/*
 * Copyright (c) 2018-2019 Peter Bigot Consulting, LLC
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 { /* SDA 0, SCL 1 */
	htu31d@40 {
		compatible = "sensirion,htu31d";
		reg = <0x40>;
		label = "HTU31D";
		alert-gpios = <&gpio0 2 GPIO_ACTIVE_HIGH>;
	};
};
